<!doctype html>
{% load staticfiles %}

<html>
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>DJH Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/css/gallery.css' %}">

    {% block header %}
    {% endblock %}

    </style>

</head>

<body>
<div id="page-container">
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0"></script>
      <div id="wrapper">
        <header role="banner">
          <nav class="navbar navbar-expand-md navbar-dark" style="background-color: {{ home.top_bar_colour }}">
            <div class="container">
              <a class="navbar-brand" style="color: {{ home.brand_colour }};" href="{% url 'home' %}">DJH Events</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                  <li class="nav-item">
                    <a class="nav-link" style="color: {{ home.nav_bar_text_colour }};" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: {{ home.nav_bar_text_colour }};" href="{% url 'gallery:album_list' %}">Gallery</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: {{ home.nav_bar_text_colour }};" href="{% url 'contact' %}">Contact</a>
                  </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                  <li class="nav-item cta-btn">
                    {% if user.is_staff %}
                    {% block postaction %}
                    {% endblock %}
                    {% endif %}
                  </li>
                </ul>

              </div>
            </div>
          </nav>
        </header>

<h4><a class="navbar-brand">
    {% block bar_title %}
    <a class="navbar-brand">{{ gallery_title }}</a>
    {% endblock %}

</a></h4> <!-- top_bar -->

<div id="content">

    {% block content %}
    {% endblock %}

</div> <!--content-->

</body>

</html>
